In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df= pd.read_csv("heart.csv")

In [10]:
#we added a temperature feature with random values going from 36 to 42 celcius degrees for more accuracy in topic 'vitals'
df1 = pd.DataFrame(np.random.randint(36,42,df.shape[0]))

In [11]:
df.insert(4, 'Temp', df1)

In [12]:
#we split our dataset to test data and train data: test for simulationg the gateways and train for the making of ML classification model
datatest = df.iloc[:10]
datatrain=df.iloc[10:]

In [14]:
datatest

,age,sex,cp,trestbps,Temp,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,41,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,37,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,39,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,41,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,41,294,1,1,106,0,1.9,1,3,2,0
5,58,0,0,100,41,248,0,0,122,0,1.0,1,0,2,1
6,58,1,0,114,37,318,0,2,140,0,4.4,0,3,1,0
7,55,1,0,160,40,289,0,0,145,1,0.8,1,1,3,0
8,46,1,0,120,39,249,0,0,144,0,0.8,2,0,3,0
9,54,1,0,122,38,286,0,0,116,1,3.2,1,2,2,0

In [6]:
datatrain.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
10,71,0,0,112,149,0,1,125,0,1.6,1,0,2,1
11,43,0,0,132,341,1,0,136,1,3.0,1,0,3,0
12,34,0,1,118,210,0,1,192,0,0.7,2,0,2,1
13,51,1,0,140,298,0,1,122,1,4.2,1,3,3,0
14,52,1,0,128,204,1,1,156,1,1.0,1,0,0,0

In [18]:
#drop 'target' for test dataset
datatest.drop(['target'], axis=1)

,age,sex,cp,trestbps,Temp,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52,1,0,125,41,212,0,1,168,0,1.0,2,2,3
1,53,1,0,140,37,203,1,0,155,1,3.1,0,0,3
2,70,1,0,145,39,174,0,1,125,1,2.6,0,0,3
3,61,1,0,148,41,203,0,1,161,0,0.0,2,1,3
4,62,0,0,138,41,294,1,1,106,0,1.9,1,3,2
5,58,0,0,100,41,248,0,0,122,0,1.0,1,0,2
6,58,1,0,114,37,318,0,2,140,0,4.4,0,3,1
7,55,1,0,160,40,289,0,0,145,1,0.8,1,1,3
8,46,1,0,120,39,249,0,0,144,0,0.8,2,0,3
9,54,1,0,122,38,286,0,0,116,1,3.2,1,2,2

In [17]:

datatrain.to_csv('datatrain.csv')

In [19]:
datatest.to_csv('datatest.csv')